* {
    font-family: 'Cormorant Garamond', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navigation Section Styles */

.nav-links {
    text-align: center;
}

.nav-links li {
    list-style: none;
    display: inline-block;
    margin: 10px 50px 5px 50px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: large;
}

.nav-links a:hover {
    color: grey;
}

/* Hero Section Styles */

.hero-image {
    width: 600px;
    height: 600px;
    margin-left: 70px;
    border-radius: 8px;
}

.hero-text {
    padding-top: 180px;
    margin-left: 150px;
}

.btn a {
    text-decoration: none;
    color: white;
}

/* Popular Section */

.product-section {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.product-title {
    font-weight: bolder;
    margin-bottom: 30px;
}

.product-display {
    margin-left: 100px;
    text-align: center;
}

.product-index-card {
    line-height: 10px;
    text-align: left;
}

.product-index-card img {
    width: 300px;
    height: 300px;
    border-radius: 8px;
}

.product-display .row {
    margin-bottom: 50px;
}

/* Subscribe Section */

.subscribe-section {
    padding: 20px 0 20px 0;
    background-color: #292b2c;
    color: white;
    text-align: center;
    margin-bottom: 50px;
}

.input-subscribe {
    width: 600px;
    margin: auto;
}

.input-subscribe input {
    margin-bottom: 10px;
    border-radius: 8px;
    border: none;
}

.input-subscribe button {
    text-align: center;
    width: 100px;
    margin: auto;
    font-weight: bolder;
}

/* services-section */

.services-section {
    margin-bottom: 50px;
    margin-top: 20px;
}

.services-title {
    text-align: center;
    margin: 30px 0 30px 0; 
}

.services-image {
    width: 500px;
    height: 500px;
    border-radius: 8px;
    margin-left: 50px;
}

.services-text p {
    text-align: justify;
    margin: 20px 30px 0 30px;
    padding-left: 50px;
}

/* Footer Section */

.footer-section {
    text-align: center;
}

.footer-col li{
    list-style: none;
    text-align: left;
    font-weight: bolder;
}

.footer-col a {
    text-decoration: none;
    color: black;
    line-height: 30px;
}

/* Contact Section */

.contact-image {
    width: 600px;
    height: 600px;
    margin: auto;
    border-radius: 8px;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contact-text {
    text-align: center;
}

.contact-text h2 {
    margin-top: 120px;
}

.contact-text h6 {
    margin-bottom: 30px;
}

.contact-text input {
    width: 500px;
    margin-bottom: 20px;
}

.input-message {
    height: 150px;
}

.fa-brands {
    margin-right: 30px;
}

/* About Section */

.team-section {
    margin-left: 100px;
}

.team-title {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.about-img {
    width: 500px;
    height: 500px;
    border-radius: 8px;
    margin-left: 100px;
}

.about-text {
    padding-top: 180px;
    margin-right: 100px;
    text-align: justify;
}

.team-card {
    margin-top: 20px;
}

.team-card h5 {
    margin-top: 3px;
}

.team-card img {
    width: 300px;
    height: 300px;
    border-radius: 8px;
}



